@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Maven+Pro:wght@400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.swiper-slide {
  height: auto;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination {
  display: none;
}


body {
  font-family:"Maven Pro", serif;  
  font-weight: 310;  
}